<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product list
    </title>
</head>
<body>
    <header>
        <nav>
            <ul>
             <li>  <a href="/add-products">add products</a></li> 
             <li>  <a href="/">home</a></li> 
             <li>  <a href="/contactus">contact us</a></li>
            </ul>
        </nav>
    </header>

    <main>
       <h1>my products</h1>
       <p>list of all products</p>
        
    </main>
</body>
</html>